{
  "presets": ["env", "react"],
  "plugins": [
    "transform-class-properties",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "components": "./client/components",
        "queries": "./client/queries"
      }
    }], 
    "transform-react-jsx-source"
  ]
}
